<a href="https://colab.research.google.com/github/kroy900/Auto_Support_Resistance/blob/main/s_r_ver2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install mpl_finance
!pip install pandas_ta
!pip install yfinance
!pip install talib-binary

Collecting mpl_finance
  Downloading mpl_finance-0.10.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mpl_finance) (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (3.0.8)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mpl_finance) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->mpl_finance) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->mpl_finance) (1.15.0)
Installing collected packages: mpl-finance
Successfully installed mpl-finance-0.10.1
Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     |████████████████████████████████| 115 kB 5.1 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas_ta) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.15.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=f8559feeeeef9b6f7ea2bfd2e8c4a0af4e7949771c720b833d2f3a129af2782d
  Stored in directory: /root/.cache/pip/wheels/0b/81/f0/cca85757840e4616a2c6b9fe12569d97d324c27cac60724c58
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0
Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 7.5 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70
Collecting talib-binary
  Downloading talib_binary-0.4.19-cp37-cp37m-manylinux1_x86_64.whl (2.4 MB)
     |████████████████████████████████| 2.4 MB 5.2 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from talib-binary) (1.21.6)
Installing collected packages: talib-binary
Successfully installed talib-binary-0.4.19

In [21]:
import pandas as pd
import datetime as dt
import os
import numpy as np
import pandas_ta as ta
from pandas_datareader import data as pdr
import yfinance as yf
from talib import RSI
from mpl_finance import candlestick_ohlc
import matplotlib.dates as mpl_dates
import matplotlib.pyplot as plt
from numpy.ma.core import harden_mask
import plotly.graph_objects as go


plt.rcParams['figure.figsize'] = [12, 7]
plt.rc('font', size=14)

In [34]:
yf.pdr_override() 

filepath = r"sample_data/stock_list.xlsx"
stocklist = pd.read_excel(filepath)
stocklist=stocklist.head()

start =dt.datetime(2020,3,5)
now = dt.datetime.now()

for i in stocklist.index:
  stock=str(stocklist["Symbol"][i])
  df = pdr.get_data_yahoo(stock, start, now)
  print("Checking "+stock+".....")
  df['Date'] = pd.to_datetime(df.index)
  df['Date'] = df['Date'].apply(mpl_dates.date2num)
  df['Open'] = df['Open'].round(3)
  df['High'] = df['High'].round(3)
  df['Low'] = df['Low'].round(3)
  df['Close'] = df['Close'].round(3)
  df['Symbol'] = stock

# Reset Index and include date in fields. Date no longer Index
#df.reset_index(inplace=True)
  df = df.loc[:,['Symbol', 'Date', 'Open', 'High', 'Low', 'Close']]

# def EMA fast and slow parameters
  fast = 5
  slow = 12

# HMA fast and slow calculation
  df['src1'] = ta.hma(df['Open'], fast).shift(1).round(2)
  df['src2'] = ta.hma(df['Close'], slow).round(2)

  df['momm1'] = df.src1 - df.src1.shift(1)
  df['momm2'] = df.src2 - df.src2.shift(1)
  df['momm1'] = df['momm1'].round(2)
  df['momm2'] = df['momm2'].round(2)
#df.tail()

  def compare_values1(m,n):
    if m >= n:
      return m
    else:
      return 0.0  



  display(df)

[*********************100%***********************]  1 of 1 completed
Checking 20MICRONS.NS.....

,Symbol,Date,Open,High,Low,Close,src1,src2,momm1,momm2
Date,,,,,,,,,,
2020-03-05,20MICRONS.NS,737489.0,31.00,31.20,30.40,30.80,NaN,NaN,NaN,NaN
2020-03-06,20MICRONS.NS,737490.0,31.20,31.55,27.45,29.65,NaN,NaN,NaN,NaN
2020-03-09,20MICRONS.NS,737493.0,30.00,30.00,26.85,27.70,NaN,NaN,NaN,NaN
2020-03-11,20MICRONS.NS,737495.0,28.25,28.25,24.65,26.85,NaN,NaN,NaN,NaN
2020-03-12,20MICRONS.NS,737496.0,26.00,28.70,21.50,22.65,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-04-29,20MICRONS.NS,738274.0,83.30,85.50,80.10,81.00,86.16,83.66,-1.09,-1.69
2022-05-02,20MICRONS.NS,738277.0,80.15,84.20,79.45,83.05,83.77,82.40,-2.39,-1.26
2022-05-04,20MICRONS.NS,738279.0,84.70,84.70,77.55,79.90,80.12,81.06,-3.65,-1.34
2022-05-05,20MICRONS.NS,738280.0,81.20,94.30,80.60,91.70,81.48,82.38,1.36,1.32
2022-05-06,20MICRONS.NS,738281.0,88.95,92.85,85.60,91.10,82.41,85.06,0.93,2.68

[*********************100%***********************]  1 of 1 completed
Checking 21STCENMGM.NS.....

,Symbol,Date,Open,High,Low,Close,src1,src2,momm1,momm2
Date,,,,,,,,,,
2020-03-05,21STCENMGM.NS,737489.0,11.90,12.10,11.90,11.95,NaN,NaN,NaN,NaN
2020-03-06,21STCENMGM.NS,737490.0,12.00,12.05,11.75,12.05,NaN,NaN,NaN,NaN
2020-03-09,21STCENMGM.NS,737493.0,11.85,11.85,11.85,11.85,NaN,NaN,NaN,NaN
2020-03-11,21STCENMGM.NS,737495.0,11.85,11.85,11.85,11.85,NaN,NaN,NaN,NaN
2020-03-12,21STCENMGM.NS,737496.0,11.65,11.65,11.65,11.65,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-04-29,21STCENMGM.NS,738274.0,28.30,28.70,27.85,28.45,28.47,28.39,-1.31,-0.41
2022-05-02,21STCENMGM.NS,738277.0,28.00,29.00,28.00,28.95,27.69,28.24,-0.78,-0.15
2022-05-04,21STCENMGM.NS,738279.0,29.45,29.50,28.45,29.50,27.69,28.41,0.00,0.17
2022-05-05,21STCENMGM.NS,738280.0,30.00,30.05,29.10,29.70,28.76,28.78,1.07,0.37
2022-05-06,21STCENMGM.NS,738281.0,29.20,30.25,29.15,29.15,30.11,29.09,1.35,0.31

[*********************100%***********************]  1 of 1 completed
Checking 3IINFOLTD.NS.....

,Symbol,Date,Open,High,Low,Close,src1,src2,momm1,momm2
Date,,,,,,,,,,
2020-03-05,3IINFOLTD.NS,737489.0,18.50,19.50,18.50,19.00,NaN,NaN,NaN,NaN
2020-03-06,3IINFOLTD.NS,737490.0,18.50,18.50,17.00,17.50,NaN,NaN,NaN,NaN
2020-03-09,3IINFOLTD.NS,737493.0,17.50,18.00,16.50,17.00,NaN,NaN,NaN,NaN
2020-03-11,3IINFOLTD.NS,737495.0,17.50,18.00,16.50,17.50,NaN,NaN,NaN,NaN
2020-03-12,3IINFOLTD.NS,737496.0,17.00,17.00,16.00,16.50,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-04-29,3IINFOLTD.NS,738274.0,58.00,58.75,57.05,57.75,59.22,58.29,-1.55,-1.15
2022-05-02,3IINFOLTD.NS,738277.0,56.90,56.90,55.40,55.75,57.73,56.93,-1.49,-1.36
2022-05-04,3IINFOLTD.NS,738279.0,57.00,57.35,54.00,54.50,56.47,55.54,-1.26,-1.39
2022-05-05,3IINFOLTD.NS,738280.0,54.10,55.90,53.50,53.90,56.18,54.25,-0.29,-1.29
2022-05-06,3IINFOLTD.NS,738281.0,49.25,53.90,49.25,52.70,54.64,53.07,-1.54,-1.18

[*********************100%***********************]  1 of 1 completed
Checking 3MINDIA.NS.....

,Symbol,Date,Open,High,Low,Close,src1,src2,momm1,momm2
Date,,,,,,,,,,
2020-03-05,3MINDIA.NS,737489.0,22777.0,24349.900,22500.00,22885.449,NaN,NaN,NaN,NaN
2020-03-06,3MINDIA.NS,737490.0,22380.0,23638.850,21717.90,22601.850,NaN,NaN,NaN,NaN
2020-03-09,3MINDIA.NS,737493.0,22000.0,22749.000,20975.00,21038.449,NaN,NaN,NaN,NaN
2020-03-11,3MINDIA.NS,737495.0,21190.0,21285.150,20600.00,20683.350,NaN,NaN,NaN,NaN
2020-03-12,3MINDIA.NS,737496.0,20000.0,20000.000,18550.00,19057.801,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-04-29,3MINDIA.NS,738274.0,20190.0,20250.000,19831.00,19964.551,19898.87,19728.44,-146.04,-105.49
2022-05-02,3MINDIA.NS,738277.0,19806.6,20101.000,19600.00,19831.100,20032.29,19677.87,133.42,-50.57
2022-05-04,3MINDIA.NS,738279.0,19950.0,19950.000,18810.25,19150.301,19918.58,19526.59,-113.71,-151.28
2022-05-05,3MINDIA.NS,738280.0,19370.0,19443.949,18505.00,18545.900,19819.12,19209.86,-99.46,-316.73
2022-05-06,3MINDIA.NS,738281.0,18550.0,18599.949,18100.00,18449.949,19510.22,18821.54,-308.90,-388.32

[*********************100%***********************]  1 of 1 completed
Checking 5PAISA.NS.....

,Symbol,Date,Open,High,Low,Close,src1,src2,momm1,momm2
Date,,,,,,,,,,
2020-03-05,5PAISA.NS,737489.0,160.00,160.00,153.00,153.45,NaN,NaN,NaN,NaN
2020-03-06,5PAISA.NS,737490.0,151.00,157.50,146.80,152.25,NaN,NaN,NaN,NaN
2020-03-09,5PAISA.NS,737493.0,159.40,159.40,136.05,145.95,NaN,NaN,NaN,NaN
2020-03-11,5PAISA.NS,737495.0,151.75,155.00,147.00,149.45,NaN,NaN,NaN,NaN
2020-03-12,5PAISA.NS,737496.0,140.05,147.00,125.00,130.80,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-04-29,5PAISA.NS,738274.0,371.10,371.20,357.80,360.50,374.57,368.28,7.35,-3.97
2022-05-02,5PAISA.NS,738277.0,352.10,359.80,332.30,339.90,377.68,359.76,3.11,-8.52
2022-05-04,5PAISA.NS,738279.0,348.00,354.95,331.90,337.10,358.91,349.55,-18.77,-10.21
2022-05-05,5PAISA.NS,738280.0,343.85,344.35,325.00,329.80,342.70,338.74,-16.21,-10.81
2022-05-06,5PAISA.NS,738281.0,324.00,325.65,317.05,320.65,338.04,328.16,-4.66,-10.58